<%= form_for @track, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gpx_file_name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :gpx_file_name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gpx_content_type, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :gpx_content_type, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gpx_file_size, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :gpx_file_size, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gpx_updated_at, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :gpx_updated_at, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  tracks_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
